<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<br><br><br>
<header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #0A1013">
            <div class="container">
              <a class="navbar-brand mr-4" href="/">ChatBot</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="/">Home</a>
                  <a class="nav-item nav-link" href="/about">About</a>
                </div>
              </div>
            </div>
          </nav>
        </header>
<div class="container">

  <center>
      <br>
    <h4>This Chatbot can give relevant answers to questions related to basic college information.<hr>
      <h3><code>The bot can answer to the following:</code></h3>
    </center></h4>
    <h4  style="padding: 5px">
      <br>
      <li>FEE Structure</li>
      <li>Admissions</li>
      <li>Hostel Facilities</li>
      <li>Routes</li>
      <li>Attendance</li>
      <li>Faculty</li>
      <li>Bus/Transportation</li>
      <li>Timetable</li>
      <li>Labs</li>
      <li>Library</li>
      <li>Emergency Facilities</li>
      <li>Sports & events</li>
      <li>Holidays</li>
      <li>Rules and Regulations</li>
      <li>College certifications,rewards and achievements</li>
      <li>Feedback and complaints</li>
    </h4><hr>
    <center>
      <h4 class="display-6 text-success">Follow the developer at <a class="text-primary" href="https://instagram.com/kir_aaaaan/">@kir_aaaaan</a>
      </h4>
      <h6 style="color:brown">Project based on ML(Machine Learning)</h6>
    </center>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
